
body, html {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Light grey background */
  }



  .centered-container {
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: auto;
    max-width: 800px; /* Adjust based on your content */
    margin: auto;
  }

    .form-control, .form-control-file, .btn-primary {
        width: 250px; /* Set the width of form fields and button */
    }
    /* Custom styling for file input to match Bootstrap's button style */
    .custom-file-upload {
        border: 1px solid #ced4da;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: #007bff;
        color: white;
        margin-bottom: 10px; /* Add some spacing below the custom file upload button */
    }
    #qrcode {
        margin-top: 20px;
    }

    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  /* width: 0%; Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #717070;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 20px;
}

.close:hover,
.close:focus {
  color: rgb(127, 13, 13);
  text-decoration: none;
  cursor: pointer;
}

/* CSS: Adjust or remove these styles if they're applied to the title/button containers */
.container, .form-group {
    display: block; /* Ensure block-level display for vertical stacking */
}

.generateButton {
    display: block;
    margin: auto;
    width: 100%;
    align-items: center;
}